@import './colors.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  --side-bar-width: 140px;
  margin: 0 auto;
  background-color: var(--root-background);
}

@media (min-width: 650px) {
  :root {
    --side-bar-width: 200px;
  }
}

@media (min-width: 900px) {
  :root {
    --side-bar-width: 220px;
    max-width: 1250px;
  }
}

body {
  min-height: 100vh;
  max-width: 1250px;
  margin: 0 auto;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--text-light-grey);
}
h4 {
  margin: auto;
}
