body {
  --primary-color: #832734;
  --text-light-grey: #a7a3a3;
  --text-medium-grey: #615f5f;
  --text-dark-grey: #434343;
  --extra-light-background: #f9f9f9;
  --light-background: #e1e1e1;
  --medium-background: #a2a2a2;
  --bs-heading-color: var(--primary-color);
}