@import './base.css';
@import './colors.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;

  /* Bootstrap customising */

  & h3 {
    margin: 18px auto;
    color: var(--text-dark-grey);
  }
  & h4 {
    --bs-heading-color: var(--text-dark-grey);
  }
}
